body {
    background-color: teal;
}

table {
    border-collapse: collapse;
}

td, th {
    border: 1px solid black;
    padding: 6px;
    text-align: left:
}

th {
    background-color: peachpuff;
}